.mdo_feature-container{
	width:100%;
	float:left;
}
.mdo_feature{
	float:left;
	display:inline;
	width:31%;
	margin:0 1%;
}
.mdo_feature.alpha{margin-left:0; margin-right:2%;}
.mdo_feature.omega{margin-right:0; margin-left:2%;}
.mdo_feature .feature-inner{}
.mdo_feature .feature-inner .image{width:100%; overflow:hidden;}



div.faqDisplay dl.multiquestion dt.question	{cursor:pointer;}
div.faqDisplay dl.multiquestion dd.answer	{display:none;}