<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>More dspObjects</name>
	<package>moredspobjects</package>
	<loadPriority></loadPriority>
	<version>@{version}@.@{buildnumber}@</version>
	<provider>David Long</provider>
	<providerURL>http://www.davejlong.com</providerURL>
	<category>Display Objects</category>
	<settings />
	<EventHandlers>
		<eventHandler event="onApplicationLoad" component="eventHandlers.eventHandler" persist="true" />
	</EventHandlers>
	<DisplayObjects location="global">
		<displayObject name="Calendar Jump" displayobjectfile="displayObjects/dsp_calendarJump.cfm" />
		<displayObject name="Search Section Form" displayobjectfile="displayObjects/dsp_searchSection.cfm" />
		<displayObject name="Page Tools" displayobjectfile="displayObjects/dsp_pageTools.cfm" />
		<displayObject name="FAQ Display (jQuery)" displayobjectfile="displayObjects/dsp_faqDisplay.cfm" />
	</DisplayObjects>
</plugin>